.modal.right .modal-dialog {
  position: fixed;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  // transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal-content {
  border-radius: 0;
  border: none;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.modal-header .material-icons {
  @include md() {
    font-size: 48px;
    line-height: 64px;
  }

}

.modal-content {
  padding: 54px 48px;
}

.card-list-img {
  img {
    width: 112px;
    height: 112px;
    object-fit: cover;
  }

}

.card-content-group {
  padding-top: 16px;
  padding-right: 16px;
  padding-left: 16px; 
  padding-bottom: 6px;
  .card-title{
    h4{
      font-size: 16px;
      line-height: 20px;
    }
  }

  .card-price {
    h5 {
      font: Regular 16px/19px Roboto;
      color: $gray-500;
    }

    del {
      font: Regular 14px/21px Roboto;
      color: $gray-300;
    }
  }
}