.contactPrice {


  .card-list {
    .card-img {
      width: 48px;
      margin-right: 16px;

      img {
        object-fit: cover;
        height: 48px;
      }

    }
  }

  .orderSummary, .orderSummary-1{
    .orderSummaryShowBtn_down{
      transform: rotate(0deg);
      transition: all .4s;
    }
    
    &.show{
      transition: all .4s;
      .orderSummaryShowBtn_down{
        transform: rotate(180deg);
      }
    }
  }

  .card-detail {
    span {
      font: 400 16px/36px Roboto;
    }
  }
}