.product-detail {
  .onsale {
    position: absolute;
    color: $white;
    font: Bold 14px/21px;

    @include md() {
      top: 24px;
      left: 24px;
    }
  }

  del {
    font: Regular 16px/24px Roboto;
    color: $gray-300;
  }

  .card-text {
    font: Bold 24px/28px Roboto !important;
    color: $black !important;
  }

  .product-text {
    p {
      font: Regular 20px/30px Roboto;
      color: $black;
    }
  }

  .product-detail-group {
    p {
      font: Regular 16px/24px Roboto;
      color: $gray-500;
    }
  }

  .breadcrumb-item {
    a {
      color: $gray-500;
    }
  }


}