@mixin desktop{
	@media screen and (max-width:1280px){
		@content
	}
};
@mixin desktop-top{
	@media screen and (max-width:1023px){
		@content
	}
};
@mixin desktop-below{
	@media screen and (max-width:1024px){
		@content
	}
};

@mixin pad{
	@media screen and (max-width:992px){
		@content
	}
};
@mixin ipad{
	@media screen and (max-width:768px){
		@content
	}
};
@mixin mobile{
	@media screen and (max-width:767px){
		@content
	}
};
@mixin iphone{
	@media screen and (max-width:576px){
		@content
	}
};
@mixin mobile480{
	@media screen and (max-width:480px){
		@content
	}
};
@mixin iphonep{
	@media screen and (max-width:414px){
		@content
	}
};
@mixin iphone5{
	@media screen and (max-width:320px){
		@content
	}
};

// -----------------------------------------

@mixin lg{
    @media screen and (min-width:1200px){
        @content 
    }
};

@mixin md{
    @media screen and (min-width:992px){
        @content 
    }
};

@mixin sm{
    @media screen and (min-width:768px){
        @content 
    }
};

@mixin xs{
    @media screen and (min-width:767px){
        @content 
    }
};
