.container {
  max-width: 1200px;
  margin: 0 auto;

  @include ipad() {

    padding-left: 48px;
    padding-right: 48px;

  }

  @include iphone() {
    padding-right: 12px;
    padding-left: 12px;
  }
}

.d-md {
  display: flex !important;

  @include iphone() {
    display: none !important;
  }
}

.d-xs {
  display: none !important;

  @include iphone() {
    display: flex !important;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.title {
  font-size: 4.8rem;
  line-height: 7.2rem;
  text-align: center;

  @include ipad() {
    font-size: 3.2rem;
    line-height: 4.8rem;
  }

  @include iphone() {
    font-size: 2.4rem;
  }
}


main {
  min-height: 500px;
}

header {
  background-color: $primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 8.8rem;

  @include ipad() {
    padding-left: 4.8rem;
    padding-right: 4.8rem;
  }

  @include iphone() {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    padding-top: 1.05rem;
    padding-bottom: 1.05rem;
    justify-content: center;
    position: relative;
  }

  nav {
    width: 41.2rem;

    @include iphone() {
      position: absolute;
      width: 100%;
      left: 0;
      top: 100%;
      text-align: center;
    }

    .hamburger {
      display: none;
      position: absolute;
      top: -25px;
      left: 16px;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      z-index: 2;

      &.active {
        ~.menu {
          height: 255px;
          transform: translateX(0%);
          transition: all .3s;

        }
      }

      @include iphone() {
        display: block;

      }

      .line {
        height: 2px;
        width: 100%;
        background-color: #fff;
        border-radius: 10px;
        margin: 0 0 7px 0;
      }

    }

    .menu {
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      transition: all .3s;

      @include iphone() {
        flex-direction: column;
        width: 100%;
        z-index: 1;
        // height: 100%;
        transform: translateX(-100%);
        height: 255px;

      }

      li {
        @include iphone() {
          background-color: $primary;
          border: 1px solid #fff
        }

        a {
          color: #fff;
          font-size: 2rem;
          line-height: 3rem;

          @include iphone() {
            padding: 1.6rem 0;
          }
        }
      }
    }
  }

}

h1.logo a {
  background-image: url("../images/logo-new_工作區域\ 1@2x.png");
  width: 80px;
  height: 49px;
  border-radius: 0;
  background-size: cover !important;
  @extend %text-indent;

  @include iphone() {
    background-image: url("../images/logo-new_工作區域\ 1.png");

    width: 48px;
    height: 29px;
  }
}

.hero {
  background-image: url("../images/68@2x.png");
  height: 394px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include breakpoint(md) {
    height: 840px;
  }

  .banner_text {
    text-align: right;
    color: $secondary;


    h3 {
      font-size: 1.6rem;
      font-weight: 400;
    }

    h2 {
      font-size: 3.2rem;
    }

    @include breakpoint(md) {
      h3 {
        font-size: 2rem;
      }

      h2 {
        font-size: 4.8rem;
      }
    }

    @include breakpoint(lg) {
      h3 {
        font-size: 3.6rem;
      }

      h2 {
        font-size: 6.4rem;
      }
    }
  }
}




//footer

footer {
  background-color: $primary;
  padding-top: 3.6rem;
  padding-bottom: 2.743rem;
  color: #fff;

  @include iphone() {
    padding-top: 2.4rem;
  }

  a {
    color: #fff;

    img {
      @include ipad() {
        width: 24px;
        height: 24px;
      }
    }
  }

  .footer_menu {
    display: flex;
    align-items: center;
    margin-bottom: 2.4rem;

    @include iphone() {
      margin-bottom: 0;
      position: absolute;
      right: 1.2rem;
    }

    li:nth-child(-n+5) {
      font-size: 1.6rem;
      line-height: 2.4rem;
      margin-right: 4.8rem;

      @include ipad() {
        margin-right: 4rem;
      }

      @include iphone() {
        display: none;
      }
    }

    li:nth-child(n+6) {
      margin-right: 3.6rem;

      @include ipad() {
        margin-right: 2.4rem;
      }

      //   @include iphone(){
      //     position: absolute;
      // top: 0;
      // right: 9px;

      // }
    }

    li:last-child {
      margin-right: 0;
    }
  }

  .icon_list {
    margin-left: auto;
  }

  .footer_text {
    display: flex;
    align-items: center;
    margin-bottom: 2.2rem;

    @include ipad() {
      margin-bottom: 0.9rem;
    }


    img {
      width: 36px;
      height: 36px;
      margin-right: 2.4rem;

      @include ipad() {
        width: 23px;
        height: 23px;
      }

      @include iphone() {
        margin-right: 0.8rem;
      }

    }

    span {
      font-size: 3.6rem;
      line-height: 5.4rem;

      @include ipad() {
        font-size: 2rem;
        line-height: 3rem;
      }

      @include iphone() {
        font-size: 1.6rem;
      }
    }
  }

  .copyright_list {
    padding-top: 2.4rem;
    border-top: 1px solid #fff;
    display: flex;
    align-items: center;
    position: relative;

    li {
      @include iphone() {
        margin-bottom: 0.8rem;
      }
    }

    @include ipad() {
      margin-top: 2.4rem;
    }

    .icon_list {
      @include iphone() {
        margin-left: 0;
      }
    }

    @include iphone() {
      flex-direction: column;
      align-items: flex-start;
      padding-top: 1.4rem;
    }

    li:first-child {

      margin-right: 3.8rem;

      @include ipad() {
        margin-right: 0;
        // display: none;
        width: 0;
      }

    }

    .copyright {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }

    li:nth-child(n+3) {
      font-size: 1.6rem;
      line-height: 2.1rem;
      margin-right: 6.2rem;

      @include ipad() {
        margin-right: 2.4rem;
      }
    }



    li:last-child {
      margin-right: 0;
    }

    .copylogo {
      display: none;
      margin: 0;
      position: absolute;
      bottom: 0;
      right: 3.2%;
      width: 46px !important;

      @include iphone() {
        display: block;
      }
    }


  }
}