<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header">
    這是 header
  </header>

  <%- contents %>

  <footer class="footer">
    footer
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html> -->


<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" href="./assets/style/all.css">
  <title><%- title %></title>

  <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
</head>

<body>

  <div class="wrapper">

    <header class="d-flex">
      <h1 class="logo">
        <a href="index.html">logo</a>
      </h1>
      <nav>
        <div class="hamburger js-hamburger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
        <ul class="menu">
          <li>
            <a href="#">系列鏡框</a>
          </li>
          <li>
            <a href="#">門市據點</a>
          </li>
          <li>
            <a href="#">部落格</a>
          </li>
          <li>
            <a href="faq.html">常見問題</a>
          </li>
        </ul>
      </nav>
    </header>

    <%- contents %>
    
    <footer>
      <div class="container">
        <ul class="footer_menu">
          <li><a href="index.html">首頁</a></li>
          <li><a href="#">系列邊框</a></li>
          <li><a href="#">門市據點</a></li>
          <li><a href="#">部落格</a></li>
          <li><a href="faq.html">常見問題</a></li>
          <li class="icon_list"><a href="#"><img src="assets/images/ic_social_fb.svg" alt="" srcset=""></a></li>
          <li><a href="#"><img src="assets/images/ic_social_ig.svg" alt="" srcset=""></a></li>
          <li><a href="#"><img src="assets/images/ic_social_line.svg" alt="" srcset=""></a></li>
        </ul>
        <div class="footer_text">
          <img src="assets/images/ic_phone_48px.svg" alt="" srcset="">
          <span>0800-000-000</span>
        </div>
        <div class="footer_text">
          <img src="assets/images/ic_mail_outline_24px.svg" alt="" srcset="">
          <span>glasses@business.com</span>
        </div>
        <ul class="copyright_list">
          <li class="copylogo"><img src="assets/images/logo-new_工作區域 1-1.png" alt=""></li>
          <li class="copyright">Copyright © 2020 Glasses.All rights reserved.</li>
          <li class="icon_list"><a href="#">隱私權政策</a></li>
          <li><a href="#">服務條款</a></li>
        </ul>
      </div>
    </footer>
  </div>


  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>

</body>

</html>
