html,
body {
    -webkit-text-size-adjust: none;
    //手機反轉時文字不縮放
    -webkit-tap-highlight-color: transparent;
    //點擊亮光效果
}
input {
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #000;
    //ios input亮光效果
}
ul {
    margin-bottom: 0;
}
li,
ol {
    list-style: none;
}
img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    //去除圖片縫隙
}

h2{
    font-size: 24px;
    line-height: 33px;
    font-weight: 900;
}