.wrapper {
  display: flex;

  h1 {
    max-width: 151px;
  }

  .slider {

    li {
      position: relative;

      &.active {
        a {
          &:before {
            content: '';
            position: absolute;
            left: -2rem;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            width: 4px;
            height: 2rem;
            background-color: $success;
          }
        }
      }

      a {
        text-decoration: none;

        &:hover :before {
          content: '';
          position: absolute;
          left: -2rem;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 4px;
          height: 2rem;
          background-color: $success;
        }
      }

      i {
        margin-right: 1rem;
      }

    }

    .user {
      img {
        width: 46px;
        height: 46px;
        border-radius: 100%;
        margin-right: 16px;
      }

      .user-info {
        >p:first-child {
          font-size: 16px;
          line-height: 24px;

          &:last-child {
            font-size: 14px;
          }
        }
      }
    }
  }

  .slider {
    background-color: $slidegreen;
    border-left: 1px solid #000;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 296px;
    padding: 32px 0 32px 32px;
  }

  .main {
    margin-left: 296px;

    h2 {
      margin-right: 46px;
    }

  }
}

