.page-number-group {
  margin-top: 63px;
}

.modal-body-img {
  width: 141px;
  height: 141px;
  background-image: url('../images/emilywang.jpeg');
  background-position: center center;
  background-size: cover;
}

.watch-email-text{
  font-size: 14px;
  line-height: 24px;
}

.verified-detail{
  height: 0px;
  overflow: hidden;
  transition: all .4s;

  &.active{
    height: 38px;
  }
}

.expand-more-icon{
  transition: all .4s;
  &.rotate-180{
    // transform-origin: center center;
    transform: rotate(180deg);
  }
}

