.faq_banner {
  background-image: url('../img/72@2x.png');
  height: 304px;
  margin-bottom: 8.8rem;

  @include iphone(){
    margin-bottom: 2.4rem;
    background-image: url('../img/72.png');
    background-position:  25%;
    height: 143px;
  }
  img{
    @include iphone(){
     width: 24px;
     height: 24px;
     
    }
  }

  .container {
    align-items: baseline;
    height: 100%;
  }

  .banner_text {
    display: flex;
    align-items: flex-end;
    height: 100%;

    h2 {
      font-size: 6.4rem;
      line-height: 8rem;
      margin-right: 1rem;
      @include iphone(){
        font-size: 2.8rem;
        line-height: 4rem;
      }
    }
    
  }
}

.qa_section {
  margin-bottom: 15.6rem;

  @include ipad() {
    margin-bottom: 10.4rem;
  }
  @include iphone(){
    margin-bottom: 5.6rem;
  }

  .container {

    @include ipad() {
      padding-left: 48px;
      padding-right: 48px;
    }

    @include iphone() {
      padding-right: 12px;
      padding-left: 12px;
    }
  }


  .qa_title {
    font-size: 3.2rem;
    line-height: 6.3rem;
    margin-bottom: 1.6rem;
    @include iphone(){
      font-size: 2rem;
      line-height: 6.3rem;
    }
  }

  .question {
    ul {
      border: 1px solid #000;

    }

    li {
      cursor: pointer;
      > div{
        border: 1px solid #000;
        padding-right:  3.8rem;
        img{
          transform: rotate(0deg);
          transition: transform .4s;
        }
        @include iphone(){
          padding-right:  1.6rem;
        }
      }

      &.rotate {
       > div{
         img{
          transform: rotate(180deg);
         }
       }
      }

      h3 {
        font-size: 2rem;
        line-height: 2.3rem;
        padding: 2.2rem 3.8rem;
        
        font-weight: 900;
        @include iphone(){
          padding: 1.6rem;
          font-size: 1.6rem;
          line-height: 2.4rem;
        }
      }

      p {
        // max-width: 916px;
        background-color: $gray;
        padding: 2.2rem 3.8rem;
        font-size: 1.6rem;
        line-height: 2.4rem;
        width: 100%;
        border: 1px solid #000;
        display: none;
        @include iphone(){
          padding: 1.6rem;
          font-size: 1.6rem;
          line-height: 2.1rem;
        }
      }
    }
  }

}

// .rotate{
//   transform: rotate(180deg);
// }