.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.title {
  font-size: 4.8rem;
  line-height: 7.2rem;
  text-align: center;
}


main {
  min-height: 500px;
}

header {
  background-color: $primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 8.8rem;

  nav {
    width: 41.2rem;

    .menu {
      display: flex;
      justify-content: space-between;

      li {
        a {
          color: #fff;
          font-size: 2rem;
          line-height: 3rem;
        }
      }
    }
  }

}

h1.logo a {
  background-image: url("../img/logo-new_工作區域\ 1@2x.png");
  width: 80px;
  height: 49px;
  border-radius: 0;
  background-size: cover !important;
  @extend %text-indent;
}

.hero {
  background-image: url("../img/68@2x.png");
  height: 394px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include breakpoint(md) {
    height: 840px;
  }

  .banner_text {
    text-align: right;
    color: $secondary;


    h3 {
      font-size: 1.6rem;
      font-weight: 400;
    }

    h2 {
      font-size: 3.2rem;
    }

    @include breakpoint(md) {
      h3 {
        font-size: 2rem;
      }

      h2 {
        font-size: 4.8rem;
      }
    }

    @include breakpoint(lg) {
      h3 {
        font-size: 3.6rem;
      }

      h2 {
        font-size: 6.4rem;
      }
    }
  }
}

.service {
  background-color: $pink;
  padding-top: 6.4rem;
  padding-bottom: 8rem;

  .service_list {
    display: flex;
    justify-content: space-between;

    // text-align: center;
    li {
      width: 23.5%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  h2 {
    text-align: center;
    // font-size: 4.8rem;
    // line-height: 7.2rem;
    margin-bottom: 6rem;
    color: $secondary;
  }

  .service_img {
    display: flex;
    height: 100px;
    margin-bottom: 4rem;
  }

  h3 {
    color: $secondary;
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin-bottom: 0.4rem;
  }

  p {
    color: #000;
    font-size: 1.6rem;
    line-height: 2.4rem;
    max-width: 208px;

  }
}


.Classic {
  background-color: #fff;
  padding-top: 6.4rem;
  padding-bottom: 8rem;

  .title {
    color: $secondary;
    margin-bottom: 6rem;
  }

  .items {
    display: flex;
    margin-bottom: 3.2rem;

    &:nth-of-type(even) img {
      margin-right: 0;
      margin-left: 2%;
    }

    .items_img {
      width: 66%;
      margin-right: 2%;

    }
  }

  .item_list {
    color: $primary;

    .items {
      &:nth-child(even) {
        flex-direction: row-reverse;
      }

    }

    h3 {
      font-size: 4.8rem;
      line-height: 7.2rem;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        margin-right: 0.8rem;
      }

    }
  }
}

.joint_design {
  padding-top: 6.4rem;
  padding-bottom: 48rem;
  background-image: url('../img/nick-owuor-astro-nic-visuals-54Q_HvMWtVE-unsplash@2x.png');
  background-position: center 0;



  .joint_container {
    max-width: 1540px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 6rem;

    @include ipad() {
      padding: 0 2.4rem;
    }

    // justify-content: space-between;
    // align-self: start;
    .left_img {
      width: 35.49%;
      margin-right: 8px;

      @include ipad() {
        width: 45.49%;
      }
    }
  }


  .title {
    color: #fff;
    margin-bottom: 6rem;
  }

  .right_t_block {
    margin-bottom: 0.8rem;
  }

  .right_b_block {
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    // align-items: center;
    @include ipad() {
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    .right_b_left_img {
      width: 13.78%;
      margin-right: 0.8rem;

      @include ipad() {
        width: 16.78%;
      }
    }

    .right_b_right_block {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .right_b_right_t {
      margin-bottom: 0.8rem;

    }

    .right_b_right_b {
      width: 85.38%;
      max-width: 259px;

      @include ipad() {
        position: absolute;
        width: 56%;
        right: 5%;
        top: 124%;

      }

      .bg_glass {}

      .bg_color {
        transform: translateX(-32.4%);
        background-image: url('../img/5.png');
        height: 0;
        padding-top: 63.68%;
        background-size: cover;
        background-position: center;
        position: relative;
      }

      .more {
        position: absolute;
        top: 50%;
        left: 10.8%;
        width: 130%;
        padding-bottom: 40.54%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        background: #fff;

        &:hover .more_text:nth-child(2) {
          top: -50%;
          opacity: 0.8;
        }

        &:hover .more_text:nth-child(3) {
          top: -120%;
          opacity: 0.4;
        }

        &:hover .arrow {
          right: 6%;
        }

        .more_text {
          transition: top .4s;
          padding-left: 3.2rem;
          padding-right: 1.9rem;
          top: 12%;
          position: absolute;
          display: flex;
          align-items: center;
          max-width: 315px;
          font-size: 7.2rem;
          font-weight: 700;
          color: $primary;

          @include iphone() {
            font-size: 2.6rem;
            padding-left: 1.2rem;
            top: 15%;
          }
        }

        .arrow {
          transition: right .4s;
          position: absolute;
          top: 50%;
          right: 10%;
          transform: translateY(-50%);

          @include iphone() {
            width: 15%;
            right: 5%;

          }
        }
      }
    }
  }
}

.joint_b {
  .type {
    width: 48.75%;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      opacity: 0.5;
    }
  }

  p {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7.2rem;
    line-height: 10.8rem;
    text-align: center;
    right: 0;
    margin: auto;
    color: $primary;
    font-weight: 700;
    // transform: translateY(50% 50%);
    font-size: 7.2rem;
    z-index: 1;

  }
}

.customer {
  margin-top: -336px;

  .title {
    color: #fff;
    margin-bottom: 6rem;
  }

  .card-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8rem;
  }

}

.card {
  width: 24%;
  background-color: #fff;

  div {
    border-width: 1px;
    border-color: $gray-100;
    border-style: solid;
    padding: 1.6rem;
  }

  h3 {
    font-size: 1.6rem;
    line-height: 2.1rem;
    font-weight: 500;
    margin-bottom: 1.6rem;
    color: $gray-300;
  }

  p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $gray-300;
    margin-bottom: 1.6rem;
  }

  .card_update_time {
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: $gray-200;
    font-weight: 400;

  }

}

.contact_us {
  background-color: $pink;
  padding-top: 6.4rem;
  padding-bottom: 9.2rem;

  .title {
    text-align: center;
    margin-bottom: 2.4rem;

  }

  .container_us {
    max-width: 792px;

    .text {
      font-size: 2rem;
      line-height: 3rem;
      font-weight: 900;
      margin-bottom: 2rem;
    }
  }

  form {}

  .form-control {
    margin-bottom: 1.6rem;
  }

  label {
    display: block;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 0.4rem;

  }

  input {
    width: 100%;
    border: 1px solid #000000;
    display: block;
    padding: 1.4rem 1.6rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  textarea {
    width: 100%;
    height: 136px;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding: 14px 16px;
    resize: none;
    border: 1px solid #000000;
  }

  .check_group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 4.2rem;

    input {
      margin: 4px;
      width: 22px;
      height: 22px;
    }

    label {
      line-height: 2.4rem;
      margin-bottom: 0;
    }


  }

  .contact_btn {
    display: block;
    width: 180px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    color: #ffffff;
    padding: 0;
    border: none;
    margin: 0 auto;
    background-color: $primary;
  }
}

footer {
  background-color: $primary;
  padding-top: 3.6rem;
  padding-bottom: 2.743rem;
  color: #fff;

  a {
    color: #fff;
  }

  .footer_menu {
    display: flex;
    align-items: center;
    margin-bottom: 2.4rem;

    li:nth-child(-n+5) {
      font-size: 1.6rem;
      line-height: 2.4rem;
      margin-right: 4.8rem;
    }

    li:nth-child(n+6) {
      margin-right: 3.6rem;
    }

    li:last-child {
      margin-right: 0;
    }
  }

  .icon_list {
    margin-left: auto;
  }

  .footer_text {
    display: flex;
    align-items: center;
    margin-bottom: 2.2rem;

    img {
      width: 36px;
      height: 36px;
      margin-right: 2.4rem;

    }

    span {
      font-size: 3.6rem;
      line-height: 5.4rem;
    }
  }

  .copyright_list {
    padding-top: 2.4rem;
    border-top: 1px solid #fff;
    display: flex;
    align-items: center;

    li:first-child {

      margin-right: 3.8rem;

    }
    .copyright{
      font-size: 1.6rem;
      line-height: 2.4rem;
    }

    li:nth-child(n+3){
      font-size: 1.6rem;
      line-height: 2.1rem;
      margin-right: 6.2rem;
    }

    li:last-child{
      margin-right: 0;
    }



  }
}