/*******************
 *                 *
 *    variables    *
 *                 *
 *******************/

$gridColumn: 12;
$gridGutter: 24px;
$breakpoint: (sm: 0, md: 768px, lg: 1224px);
$containerWidth: (sm: 376px, md: 696px, lg: 1224px);
$spacer: 1rem !default;
$spacers: (0: 0, 1: $spacer * 0.5, 2: $spacer * 0.75, 3: $spacer, 4: $spacer * 1.5, 5: $spacer * 2, 6: 40px, 7: $spacer * 4);
$distance: ('p': 'padding', 'pt': 'padding-top', 'pr': 'padding-right', 'pb': 'padding-bottom', 'pl': 'padding-left', 'm': 'margin', 'mt': 'margin-top', 'mr': 'margin-right', 'mb': 'margin-bottom', 'ml': 'margin-left');
$display: (flex: flex, none: none, block: block);
$primary: #AA0601;
$secondary: #650300;
$pink: #FBF2F2;
$gray-100: #DEE2E6;
$gray-200: #707070;
$gray-300: #212529;







