.logo {
  font-size: 24px;
  line-height: 29px;
}

section.nav {
  z-index: 1030;
}

body {
  position: relative;
}


footer{
  height: 93px;
  background-color: $black;
  
}

.footer-group{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 93px;
}

.terms-group{
  a{
    font-size: 14px;
    line-height: 16px;
    color:$gray-100;
  }
}