 <!-- menu nodal -->
 <div class="modal right fade" id="menuModal" tabindex="-1" role="dialog" aria-labelledby="menuModalLabel"
      aria-hidden="true">
   <div class="modal-dialog m-0 ">
     <div class="modal-content border-0 rounded-0 p-3">
       <div class="modal-header d-flex justify-content-between align-items-center border-0 mb-5">
         <button class="m-0 close" type="button" data-dismiss="modal" aria-label="Close">
           <span class="material-icons" aria-hidden="true">arrow_back</span>
         </button>
         <a class="text-dark nav-link material-icons p-0" href="#">shopping_cart</a>
       </div>
       <div class="modal-body">
         <div class="accordion" id="accordionExample">
           <div class="card border-0 rounded-0"><a
                class="btn-link btn-block text-left border-bottom text-dark h4 font-weight-bold pb-3" href="#"
                data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                aria-controls="collapseOne">Product</a>
             <div class="collapse show" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample">
               <div class="card-body py-3">
                 <ul class="list-unstyled">
                   <li class="mb-3"><a class="text-secondary" href="">ALL<sup>24</sup></a></li>
                   <li class="mb-3"><a class="text-secondary" href="">BOWL<sup>10</sup></a></li>
                   <li class="mb-3"><a class="text-secondary" href="">CUP<sup>8</sup></a></li>
                   <li class="mb-3"><a class="text-secondary" href="">PLATE<sup>3</sup></a></li>
                   <li class="mb-3"><a class="text-secondary" href="">VASE<sup>3</sup></a></li>
                 </ul>
               </div>
             </div>
           </div>
           <div class="card border-0 rounded-0"><a
                class="btn-link btn-block text-left border-bottom text-dark h4 font-weight-bold collapsed pb-3" href="#"
                data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                aria-controls="collapseTwo">Blog</a>
             <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample">
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, enim.
             </div>
           </div>
           <div class="card border-0 rounded-0"><a
                class="btn-link btn-block text-left border-bottom text-dark h4 font-weight-bold collapsed pb-3" href="#"
                data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                aria-controls="collapseThree">Contact</a>
             <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionExample">
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta nisi, tempora ullam ratione fugiat
               voluptate?
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>


 <!--cart modal -->
 <div class="modal right fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header mb-md-28">
         <h2 class="modal-title font-weight-bold h1" id="exampleModalLabel">Cart List <sup class="text-primary">3</sup>
         </h2>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span class="material-icons">clear</span>
         </button>
       </div>
       <div class="modal-body">
         <ul class="card-list mb-4">
           <li class="card bg-gray-1000 mb-2">
             <div class="row no-gutters">
               <div class="col-3">
                 <div class="card-list-img">
                   <img src="./assets/images/tom-crew-XtyxEBiA8D8-unsplash.jpg" alt="" srcset="">
                 </div>
               </div>
               <div class="col-9">
                 <div class="card-content-group bg-gray-1000">
                   <div class="card-title mb-0 d-flex justify-content-between">
                     <h4 class="mb-0">Tatami Cup</h4>
                     <button type="button" class="close" data-dismiss="toast" aria-label="Close">
                       <span class="material-icons">clear</span>
                     </button>
                   </div>
                   <div class="card-price d-flex mb-14">
                     <p class="mr-2 mb-0">NT$1,080</p>
                     <del>NT$1,200</del>
                   </div>
                   <div class="card-total-group">
                     <div class="btn-group-list btn-toolbar  d-flex justify-content-between">
                       <div class="btn-group mr-md-2" role="group" style="width:24px; height:24px;">
                         <a href="#" class="btn btn-gray-1000 py-0 px-2">-</a>
                         <input type="text" value="1" class="text-center border-0 btn-gray-1000 px-0"
                                style="width:24px;">
                         <a href="#" class="btn btn-gray-1000 py-0 px-2">+</a>
                       </div>
                       <div class="card-total font-weight-bold">NT$1,080</div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </li>
           <li class="card">
             <div class="row no-gutters">
               <div class="col-3">
                 <div class="card-list-img">
                   <img src="./assets/images/tom-crew-bgIO-u4GEfI-unsplash.jpg" alt="" srcset="">
                 </div>
               </div>
               <div class="col-9">
                 <div class="card-content-group bg-gray-1000">
                   <div class="card-title mb-0 d-flex justify-content-between">
                     <h4 class="mb-0">Baifan Bowl</h4>
                     <button type="button" class="close" data-dismiss="toast" aria-label="Close">
                       <span class="material-icons">clear</span>
                     </button>
                   </div>
                   <div class="card-price d-flex mb-14">
                     <p class="mr-2 mb-0">NT$1,800</p>
                   </div>
                   <div class="card-total-group">
                     <div class="btn-group-list btn-toolbar  d-flex justify-content-between">
                       <div class="btn-group mr-md-2" role="group" style="width:24px; height:24px;">
                         <a href="#" class="btn btn-gray-1000 py-0 px-2">-</a>
                         <input type="text" value="3" class="text-center border-0 btn-gray-1000 px-0"
                                style="width:24px;">
                         <a href="#" class="btn btn-gray-1000 py-0 px-2">+</a>
                       </div>
                       <div class="card-total font-weight-bold">NT$3,600</div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </li>
         </ul>
         <div class="modal-footer border-0">
           <div class="row w-100 d-flex justify-content-end no-gutters">
             <div class="col-md-9">
               <div class="total">
                 <div class="d-flex mb-3 justify-content-between">
                   <h6 class="mb-0 text-secondary">Subtotal</h6>
                   <p class="mb-0 text-secondary">NT$4,680</p>
                 </div>
                 <div class="d-flex mb-4 justify-content-between">
                   <h6 class="mb-0 text-secondary">Shipping</h6>
                   <p class="mb-0 text-secondary">NT$80</p>
                 </div>
                 <div class="d-flex mb-5 justify-content-between">
                   <h4 class="mb-0 font-weight-bold">Total</h4>
                   <h4 class="mb-0 font-weight-bold">NT$4,760</h4>
                 </div><a class="w-100 btn btn-primary" href="./checkout1.html">Checkout</a>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>