<section class="nav position-absolute w-100">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent px-0">
      <button class="navbar-toggler border-0 pl-0 text-white text-md-dark" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
        <i class="material-icons">dehaze</i>
      </button>

      <a class="navbar-brand logo font-raleway text-white text-md-dark" href="index.html">Craftsman</a>

      <a class="nav-link pr-0 order-md-3 d-flex align-items-center text-white" href="#" data-toggle="modal"
         data-target="#exampleModal">
        <i class="material-icons">shopping_cart</i>
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-md-auto">
          <li class=" active">
            <a class="nav-link text-white" href="product.html">Product</a>
          </li>
          <li class="">
            <a class="nav-link text-white" href="#">Blog</a>
          </li>
          <li class="">
            <a class="nav-link text-white" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>