<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <%- include('meta.ejs') %>
  <title><%- title %></title>
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" /> -->
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,900&family=Roboto:wght@300;400;500;700;900&display=swap"
        rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
  <link rel="stylesheet" href="./assets/style/all.css">
  
</head>

<body>

  <section class="nav w-100">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent px-0">
        <button class="navbar-toggler border-0 pl-0 text-dark text-md-dark" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
          <i class="material-icons">dehaze</i>
        </button>
  
        <a class="navbar-brand logo font-raleway text-dark text-md-dark" href="index.html">Craftsman</a>
  
        <a class="nav-link pr-0 order-md-3 d-flex align-items-center text-dark" href="#" data-toggle="modal"
           data-target="#exampleModal">
          <i class="material-icons">shopping_cart</i>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-md-auto">
            <li class=" active">
              <a class="nav-link text-dark" href="product.html">Product</a>
            </li>
            <li class="">
              <a class="nav-link text-dark" href="#">Blog</a>
            </li>
            <li class="">
              <a class="nav-link text-dark" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </section>



  <%- contents %>


  <!-- subscribe -->
  <section class="subscribe">
    <div class="container h-100">
      <div class="row">
        <div class="col-md-5">
          <h2 class="text-white font-weight-bold mb-4 mb-md-7">
            Subscribe for news and special offers!
          </h2>
          <form class="position-relative" action="javascript:;" method="post">
            <input type="email" class="form-control bg-transparent font-weight-bold" id="subscribeEmail"
                   aria-describedby="emailHelp" placeholder="Your email address">
            <input type="submit" class="btn btn-primary font-weight-bold" value="Subscribe">
          </form>
        </div>
      </div>
    </div>
    </div>
  </section>

  <!-- footer -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="footer-group  d-md-flex flex-md-row flex-column align-items-start align-items-md-center">
            <div class="footer-logo mr-3">
              <a class="logo font-raleway text-white text-decoration-none" href="index.html">Craftsman</a>
            </div>
            <p class="text-gray-200 mr-auto mb-0">© 2020. All Rights Reserved.</p>
            <div class="terms-group d-flex flex-column flex-md-row">
              <a class="text-white mr-7" href="#">Purchase Policy</a>
              <a class="text-white mr-7" href="#">Privacy Policy</a>
              <a class="text-white" href="#">Terms & Conditions</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </footer>

  <script src="./assets/js/vendors.js"></script>
  <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
  <script src="./assets/js/all.js"></script>


</body>

</html>